<div class="requesters-list">
  Available Seats : <%= @trip.available_seats %><br/>

  <b> Requesters List : </b></br>
  <% if @trip.present? %>
    <% @trip.requests.each do |req|%>
      Name : <%= req.rider.name %>
      Status :<%= req.confirmed ? 'Confirmed' : 'Waiting' %>
      <% if !current_user.is_rider? %>
        <% if !req.confirmed %>
          <button class='req-btn'><%= link_to 'Confirm', confirm_request_path(req_id: req.id, trip_id: @trip.id), remote: true, id: 'request-confirm'%></button>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

</div>
