<h1>Carpocar</h1>

<p>
	Connect with your co-workers and share a ride. 
</p>
<p>
	<%= link_to 'Sign up', new_user_registration_path %>
</p>
<p>
	<%= link_to 'Login', new_user_session_path %>
</p>
<p>
	<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
</p>
<p>
	<%= user_signed_in? %>
	</p>