<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @rider.name %></h1>
    <p style="margin-left: 6px">
      Your trip from <%= @trip.origin %> to <%= @trip.destination %> with<%= @trip.driver.name %> is going to start in 1 minute!
    </p>
  </body>
</html>
