/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	font-family: 'Helvetica', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #000;
}

.alert, .notice {
    padding: 20px;
    color: #000;
}

.alert{
	background-color: #f2dede;
	border: 2px solid #ebccd1;
}

.notice{
	background-color: #fcf8e3;
	border: 2px solid #faebcc;
}

.closebtn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    color: #000;
    line-height: 20px;
    cursor: pointer;
}


/********************************************

Color light: #DF373B;
Color dark: #85151e;

*********************************************/