header{
	
	width: 100%;
	height: 15%;
	padding: 1em;
	border-bottom: 2px solid #DF373B;

	h1{
		text-align: left;
		font-size: 350%;
		font-weight: 300;
		letter-spacing: 2px;
	}

	span{
		color: #DF373B;
		font-weight: 400;
	}

}

.btn:link, .btn:visited {
	display: inline-block;
	width: 150px;
	height: 50px;
	border-radius: 8px;
	background-color: #DF373B;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	line-height: 50px;
	text-align: center;
	border: 1px solid #85151e;
	transition: 0.3s all;
}

.btn:hover, .btn:active{
	background-color: #85151e;
}