/***************** General tags ************************/

h2{
	text-align: center;
	margin: 15px;
}

/***************** Buttons and links ************************/

.btn:link, .btn:visited {
	display: inline-block;
	width: 150px;
	height: 50px;
	border-radius: 8px;
	background-color: #DF373B;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	line-height: 50px;
	text-align: center;
	border: 1px solid #85151e;
	transition: 0.3s all;
}

.btn:hover, .btn:active{
	background-color: #85151e;
}

.txt-btn:link, .txt-btn:visited {
	color: #111;
	font-weight: 400;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	transition: 0.3s all;
}

.txt-btn:hover, .txt-btn:active{
	border-bottom: 2px solid #DF373B;
}

input[type="button"], input[type="submit"], input[type="reset"] {
	display: inline-block;
	width: 100px;
	height: 40px;
	border-radius: 8px;
	background-color: #DF373B;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	line-height: 40px;
	cursor: pointer;
	text-align: center;
	border: 1px solid #85151e;
	transition: 0.3s all;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
	background-color: #85151e;
}

/***************** Forms ************************/

form{
	width: 50%;
	margin-left: 25%;
	font-weight: 400;
	font-size: 18px;
	padding: 5px;

	label{
		display: inline-block;
		width: 49%;
	}

	input[type="text"], input[type="email"], input[type="password"]{
		display: inline-block;
		width: 50%;
		font-size: 18px;
		padding: 1px;
		border:1px solid #cccccc;
		box-sizing: border-box;
	}

	.field{
		margin-top: 15px;
	}
	.actions{
		margin-top: 20px;
		text-align: center;
	}
}

.field_with_errors{
	display: inline;

	label{
		display: inline-block;
		width: 49%;
	}

	input[type="text"] i, input[type="email"], input[type="password"]{
		display: inline-block;
		width: 50%;
	}
}

.redirect-links{
	margin-left: 25%;
	margin-top: 10px;
	a{
		margin: 10px;
	}
}

#error_explanation{
	background-color: #f2dede;
	border: 2px solid #ebccd1;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 15px;

	h2{
		font-size: 1.4em;
		font-weight: 400;
		margin: 0;
	}

	ul{
		margin-left: 30px;
		font-weight: 300;
		list-style-type: none;
	}
	
	li:before{
		content: "→ ";
	}
}