/***************** Header partial layouts/_header.html.erb ************************/

header{	
	width: 100%;
	height: 15%;
	padding: 1em;
	border-bottom: 2px solid #DF373B;
	a:link, a:hover, a:active, a:visited{
		color: #000;
	}
	h1{
		text-align: left;
		font-size: 350%;
		font-weight: 300;
		letter-spacing: 2px;
		display: inline-block;
	}

	span{
		color: #DF373B;
		font-weight: 400;
	}

	div{
		float: right;
		text-align: right;
		font-size: 18px;
		margin-top: 10px;
		margin-right: 20px;
	}
}

/***************** Home page home/index.html.erb ************************/

.home-wrapper{
	width: 100%;
	position: relative;

	p.text-area{
		text-align: center;
		margin: 20px 0;
	}

	img{
		height: 50%;
		width: 50%;
		margin-left: 25%;
		margin-top: 20px;
	}

	p.button-container{
		text-align: center;
		a{
			margin: 20px;
		}
	}
}