/***************** Header partial layouts/_header.html.erb ************************/

header{	
	width: 100%;
	height: 15%;
	padding: 1em;
	border-bottom: 2px solid #DF373B;
	a:link, a:hover, a:active, a:visited{
		color: #000;
	}
	h1{
		text-align: left;
		font-size: 350%;
		font-weight: 300;
		letter-spacing: 2px;
		display: inline-block;
	}

	span{
		color: #DF373B;
		font-weight: 400;
	}

	div{
		float: right;
		text-align: right;
		font-size: 18px;
		margin-top: 10px;
		margin-right: 20px;
	}
}

/***************** Footer partial layouts/_footer.html.erb ************************/

footer {
	position: relative;
	bottom:0;
	width:100%;
	font-weight: 500;
	height:70px;
	margin-top: 10px;
	border-top:2px solid #DF373B;
	color: #000;
	text-align: center;
	line-height: 70px;
	.copy{
		display: inline-block;
		text-align: right;
		float: right;
		margin-right: 20px;
		font-size: 18px;
	}

}


/***************** Home page home/index.html.erb ************************/

.home-wrapper{
	width: 100%;
	position: relative;
	p.text-area{
		text-align: center;
		margin: 20px 0;
	}

	img{
		height: 45%;
		width: 45%;
		margin-left: 27%;
		margin-top: 20px;
	}

	p.button-container{
		text-align: center;
		a{
			margin: 20px;
		}
	}
	.user-diff{
		font-weight: 300;
		font-size: 200%;
		margin-top: 15px;
	}
	.user-button:link, .user-button:visited{
		width: 300px;
		height: 300px;
		padding: 5px;
		padding-bottom: 20px;
		display: inline-block;
		margin-left: 200px;
		margin-right: 100px;
		margin-top: 30px;
		text-align: center;
		text-decoration: none;
		border-radius: 10px;
		background-color: rgba(223,55,59,0.2);
		color: #000;
		font-weight: 400;
		font-size: 20px;
		img{
			height: 70%;
			width: 70%;
			margin-top: 5%;
			margin-left: 10%;
			margin-right: 10%;
			margin-bottom: 20px;
			transition: 0.4s all;
		}
	}

	.user-button:hover, .user-button:active{
		img{
			transform: scale(1.3);
		}
		span{
			border-bottom: 2px solid #DF373B;
			font-weight: 500;
		}
	}
}

/***************** Password reset page devise/passwords/new.html.erb ************************/

.reset-pass{
	input[type="button"], input[type="submit"], input[type="reset"] {
		width: 350px;
	}
}

/***************** Trip list page trips/index.html.erb ************************/

.trip-listing, .trip-listing:link, .trip-listing:visited{
	display: inline-block;
	position: relative;
	border: 2px solid rgb(55,223,59);
	text-decoration: none;
	color: #000;
	width: 320px;
	height: 180px;
	margin-left: 6%;
	margin-top: 15px;
	margin-bottom: 20px;
	padding: 5px;
	border-radius: 15px;
  	transition: all 1s ease-in-out;
	.card-cover{
		font-weight: 500;
		font-size: 22px;
		text-align: center;
		padding-top: 25px;
		border-radius: 15px;
		backface-visibility: hidden;
		transition: all 1s ease-in-out;
	}
	.overlay{
		position: absolute;
		opacity: 0;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 99%;
		width: 99%;
		transform: rotateY(180deg);
		transition: all 1s ease-in-out;
		.card-heading{
			font-weight: 500;
			font-size: 120%;
			border-bottom: 1px solid black;
			text-align: center;
			margin-top: 8px;
		}
		p{
			margin-top: 10px;
			padding: 15px;
			line-height: 30px;
			.trip-meta-title{
				font-weight: 400;
			}
		}
	}
}

.trip-listing:hover, .trip-listing:active{
	transform: rotateY(180deg);
	background-color: rgba(55,223,59,0.1);
	.card-cover{
		transform: rotateY(180deg);
	}
	.overlay{
		opacity: 1;
	}
}

.trip-listing.danger{
	border: 2px solid rgb(223,55,59);
}

.trip-listing.danger:hover, .trip-listing.danger:active{
	background-color: rgba(223,55,59,0.1);
}

.trip-redirect-home{
	margin-left: 7%;
}