/***************** Header partial layouts/_header.html.erb ************************/

header{
	width: 100%;
	height: 15%;
	padding: 1em;
	border-bottom: 2px solid #DF373B;
	a:link, a:hover, a:active, a:visited{
		color: #000;
	}
	h1{
		text-align: left;
		font-size: 350%;
		font-weight: 300;
		letter-spacing: 2px;
		display: inline-block;
	}

	span{
		color: #DF373B;
		font-weight: 400;
	}

	div{
		float: right;
		text-align: right;
		font-size: 18px;
		margin-top: 10px;
		margin-right: 20px;
	}
}

/***************** Footer partial layouts/_footer.html.erb ************************/

footer {
	position: relative;
	bottom:0;
	width:100%;
	font-weight: 500;
	height:70px;
	margin-top: 10px;
	border-top:2px solid #DF373B;
	color: #000;
	text-align: center;
	line-height: 70px;
	.copy{
		display: inline-block;
		text-align: right;
		float: right;
		margin-right: 20px;
		font-size: 18px;
	}
	img{
		height: 50px;
		width: auto;
		float: left;
		margin-top: 5px;
		margin-left: 15px;
	}

}


/***************** Home page home/index.html.erb ************************/

.home-wrapper{
	width: 100%;
	position: relative;
	p.text-area{
		text-align: center;
		margin: 20px 0;
	}

	img{
		height: 45%;
		width: 45%;
		margin-left: 27%;
		margin-top: 20px;
	}

	p.button-container{
		text-align: center;
		a{
			margin: 20px;
		}
	}
	.user-diff{
		font-weight: 300;
		font-size: 200%;
		margin-top: 15px;
	}
	.user-button:link, .user-button:visited{
		width: 300px;
		height: 300px;
		padding: 5px;
		padding-bottom: 20px;
		display: inline-block;
		margin-left: 200px;
		margin-right: 100px;
		margin-top: 30px;
		text-align: center;
		text-decoration: none;
		border-radius: 10px;
		background-color: rgba(223,55,59,0.2);
		color: #000;
		font-weight: 400;
		font-size: 20px;
		img{
			height: 70%;
			width: 70%;
			margin-top: 5%;
			margin-left: 10%;
			margin-right: 10%;
			margin-bottom: 20px;
			transition: 0.4s all;
		}
	}

	.user-button:hover, .user-button:active{
		img{
			transform: scale(1.3);
		}
		span{
			border-bottom: 2px solid #DF373B;
			font-weight: 500;
		}
	}
}

/***************** Password reset page devise/passwords/new.html.erb ************************/

.reset-pass{
	input[type="button"], input[type="submit"], input[type="reset"] {
		width: 350px;
	}
}

/***************** Trip list page trips/index.html.erb ************************/

form .search{
	width: 100%;
	margin-left: 10%;
	td.search-field{
		width: 70%;
		input[type="text"]{
			width: 100%;
			height: 25px;
			line-height: 22px;
			font-size: 16px;
			padding: 4px;
		}

	}
	td{
		padding: 5px;
		.btn-normal{
			height: 25px;
			line-height: 22px;
			font-size: 14px;
		}
	}
}

p.no-trip {
	text-align: center;
	height: 200px;
	margin-top: 10px;
	padding-top: 40px;
	font-size: 25px;
	line-height: 100px;
}

.trip-listing, .trip-listing:link, .trip-listing:visited{
	display: inline-block;
	border: 2px solid rgb(55,223,59);
	text-decoration: none;
	color: #000;
	width: 320px;
	height: 180px;
	margin-left: 6%;
	margin-top: 15px;
	margin-bottom: 20px;
	padding: 5px;
	border-radius: 15px;
	transition: 0.4s all;
	h3{
		font-weight: 500;
		font-size: 130%;
		border-bottom: 1px solid black;
		text-align: center;
	}
	p{
		margin-top: 10px;
		padding: 15px;
		line-height: 30px;
		.trip-meta-title{
			font-weight: 400;
		}
	}
}

.trip-listing:hover, .trip-listing:active{
	background-color: rgba(55,223,59,0.1);
}

.trip-listing.danger{
	border: 2px solid rgb(55,55,59);
}

.trip-listing.danger:hover, .trip-listing.danger:active{
	background-color: rgba(55,55,59,0.1);
}

.trip-redirect-home{
	margin-left: 7%;
}


/***************** Trip show page trips/show.html.erb ************************/

.trip-wrapper{
	line-height: 22px;
}

.trip-metadata{
	margin-left: 35%;
	width: 60%;
	display: inline-block;
	td{
		width: 30%;
		height: 30px;
	}
}

.trip-path{
	border: 2px solid #DF373B;
	display: block;
	float: right;
	margin-right: 70px;
	margin-top: -100px;
	width: 200px;
	border-radius: 5px;
	text-align: center;
	margin-left: 25px;
	list-style-type: none;
	line-height: 25px;
	li.heading{
		font-size: 120%;
		font-weight: 500;
	}
}

.req-btn, .req-btn:link, .req-btn:visited{
	display: block;
	margin-left: 42%;
	height: 45px;
	line-height: 45px;
	width: 16%;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	border: 1px solid #0d4f0e;
	border-radius: 8px;
	background-color: #1ba61e;
	text-align: center;
	transition: 0.3s all;
	margin-top: 20px;
}

.req-btn:hover, .req-btn:active{
	background-color: #0d4f0e;
}

.requesters-list{
	margin-left: 30%;
	margin-top: 15px;
	text-align: center;
	width: 30%;
	span{
		font-weight: 400;
	}
	.confirmation-table{
		margin-left: 30%;
		text-align: left;
		width: 80%;
		td{
			width: 33%;
		}
		td:nth-child(2){
			text-align: center;
		}
		td.confirm-success{
			color: #1ba61e;
		}
		td.confirm-wait{
			color: #a6a61e;
		}
		tr{
			height: 28px;
		}
	}
	.confirm-btn, .confirm-btn:link, .confirm-btn:visited{
		display: inline-block;
		color: #fff;
		border: 1px solid #0d4f0e;
		font-size: 12px;
		width: 70px;
		text-decoration: none;
		border-radius: 5px;
		background-color: #1ba61e;
		text-align: center;
		transition: 0.3s all;
	}
	.confirm-btn:hover, .confirm-btn:active{
		background-color: #0d4f0e;
	}
	.confirm-btn.danger{
		background-color: #DF373B;
		border: 1px solid #85151e;
	}
	.confirm-btn.danger:hover, .confirm-btn.danger:active{
		background-color: #85151e;
	}
}
